<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout/head :: head">
</head>

<body>
<div th:replace="fragments/layout/header :: header(${boards})"></div>
<div class="container">
    <br>
    <br>
    <div class="form-row float-right">
        <a th:href="@{'/board/'+${boardTitle} + '/post/insert'}" class="btn btn-success" th:text="글쓰기"></a>
    </div>
    <br>
    <br>
    <br>
    <div class="card m-2" th:each="post : ${posts}">
        <div class="card-body">
            <div>
                <h4 class="card-title" th:text="${post.getTitle()}"></h4>
                <h6>👁 조회수</h6>
                <h6>😍 좋아요</h6>
            </div>
            <a href="#" class="btn btn-info">상세보기</a>
        </div>
    </div>
</div>
<div th:replace="fragments/layout/footer :: footer"></div>

</body>
</html>