<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout/head :: head">
</head>
<body>
<div th:replace="fragments/layout/header :: header"></div>

<div class="container">
    <br/>
    <br/>
    <h3>회원가입</h3>
    <br/>
    <br/>
    <form
            th:role="form"
            th:action="@{/auth/sign}"
            th:method="POST"
            class="was-validated">

        <div class="form-group">
            <label th:for="email">이메일</label>
            <input type="email"
                   th:name="email"
                   placeholder="이메일을 입력하세요"
                   class="form-control"
                   required
            />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
            <label th:for="password">패스워드</label>
            <input type="password"
                   th:name="password"
                   placeholder="패스워드를 입력하세요"
                   class="form-control"
                   required
            />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text"
                   th:name="name"
                   placeholder="이름을 입력하세요"
                   class="form-control"
                   required
            />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
            <label th:for="nickName">닉네임</label>
            <input type="text"
                   th:name="nickname"
                   placeholder="닉네임을 입력하세요"
                   class="form-control"
                   required
            />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
            <label th:for="gender">성별</label>
            <select class="custom-select"
                    th:name="gender"
                    required>
                <option th:value="EMPTY" selected>선택안함</option>
                <option th:value="MAN">남자</option>
                <option th:value="WOMAN">여자</option>
            </select>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Check this checkbox to continue.</div>
        </div>

        <div class="form-group">
            <label th:for="birth">생일</label>
            <input type="text"
                   th:name="birth"
                   placeholder="생일을 입력하세요"
                   class="form-control"
                   required
            />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
            <label th:for="phoneNumber">전화번호</label>
            <input type="text"
                   th:name="phoneNumber"
                   placeholder="전화번호를 입력하세요"
                   class="form-control"
                   required
            />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
            <label th:for="studentId">학번</label>
            <input type="text"
                   th:name="studentId"
                   placeholder="학번을 입력하세요"
                   class="form-control"
                   required
            />
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group form-check">
            <label th:for="terms">서비스 이용약관 동의
                <p>서비스 이용약관 동의를 진행해주세요</p>
                <input class="form-check-input"
                       type="checkbox"
                       th:value="true"
                       th:name="termService"
                       required
                />
                동의
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </label>
        </div>

        <div class="form-group form-check">
            <label th:for="terms">개인정보 동의
                <p>개인정보 동의를 진행해주세요</p>
                <input class="form-check-input"
                       type="checkbox"
                       th:value="true"
                       th:name="termPrivacy"
                       required
                />
                동의
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </label>
        </div>

        <div class="form-group form-check">
            <label th:for="terms">위치정보 동의
                <p>위치정보 동의를 진행해주세요</p>
                <input class="form-check-input"
                       type="checkbox"
                       th:value="true"
                       th:name="termLocation"
                       required
                />
                동의
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
    <br/>
</div>
<div th:replace="fragments/layout/footer :: footer"></div>

</body>
</html>