<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout/head :: head">
</head>

<body>
<div th:replace="fragments/layout/header :: header(${boards})"></div>

<div class="container">
    <br/>
    <br/>
    <h3>게시판 상세보기</h3>
    <br/>
    <br/>

        <div class="form-group">
            <label th:for="title">게시판 명 :</label>
            <input type="text"
                   th:field="*{title}"
                   placeholder="게시판을 입력하세요"
                   class="form-control"
                   required
                   readonly
            />
        </div>

        <div class="form-group">
            <label th:for="content">소개 :</label>
            <textarea class="form-control" rows="10" th:field="*{content}" readonly></textarea>
        </div>

        <button type="submit" class="btn btn-primary">수정하기</button>
    </form>
    <br/>
</div>
<div th:replace="fragments/layout/footer :: footer"></div>

</body>
</html>